@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
body {
    background-color: black;
}
h1  {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 img {
    max-width: 10%;
}

.center {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#topRow {
    width: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#topRow p {
    text-align: center;
}

#game {
    background-image: url("https://blog.gfuel.com/hs-fs/hubfs/g_fuel_blog_assets2018/newsletter-bg.jpg?width=1920&name=newsletter-bg.jpg");
    background-size: 100% 100%;
    outline: 1px solid red;
}